{% extends "glgl_app/base.html" %}

{% block title %}修改密码{% endblock %}

{% block content %}
<div class="panel panel-default panel-body">
	<form class="form-base" onsubmit="return check(this)" action="/setpassword/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="m-row">
			<label for="id_password">原密码:</label>
			<input type="password" placeholder="输入您的原密码" class="form-control" name="password" maxlength="128"> 
		</div>

		<div class="m-row">
			<label for="id_newpassword1">新密码:</label>
			<input type="password" class="form-control" placeholder="不少于6个字符" id="id_newpassword1" name="newpassword1" maxlength="128">
		</div>
		
		<div class="m-row">
			<label for="id_newpassword2">再次输入新密码:</label>
			<input type="password" class="form-control" placeholder="" id="id_newpassword2" name="newpassword2" maxlength="128">
		</div>
		
		<div class="m-row">
			{{ error }}
		</div>
		<div class="m-row" style="text-align: center">
			<input type="submit" class="btn btn-success btn-lg" style="margin-top: 10px" value="重置密码">
		</div>
		<div class="m-row" style="text-align: center">
			<a href = "/" class = "btn btn-default btn-lg" style="margin-top: 10px">返回主页</a>
		</div>
	</form>
</div>
{% endblock %}