{% extends "glgl_app/base.html" %}

{% block title %}个人主页{% endblock %}

{% block extracss %}
<style>
.dataTables_length{
    weight:50%;
}
.paginate_button {
    weight:20%;
}
.table{
     weight:100%,
     height:100%;
}
</style>
{% endblock %}
{% block content %}
    <div id="top_area">
        <div class="center">
            <div class="row bar_headImg">
                <div class="col-md-12 col-sm-12">

                </div>
            </div>
        </div>
    </div>
    <div id="middle_content">
        <div class="row bar_content">
            <div class="col-sm-12 col-md-8 box-left">
                <div class="panel panel-success">
                    <div class="panel-heading">ta已经上传的视频</div>
                    <div class="panel-body">
                        <div class="m-row">
                            {% if video_set %}
                                {% for video in video_set %}
                                    <div class="col-md-3 col-sm-6 col-xs-12 show-video">
                                        <a href="/video/{{ video.id }}" title="{{ video.title }}">
                                            <img src="/media/{{video.cover}}" class="img-responsive center-block"/>
                                        </a>
                                        <h3>{{ video.title }}</h3>
                                        <div class="glyphicon glyphicon-play" aria-hidden="true">：<span id = "playnum">{{video.play}}</span></div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>ta还没有上传过视频</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div><!--个人已上传的视频-->
            <div class="col-sm-12 col-md-4 box-left"><!--个人上传的视频-->
                <div class="panel panel-danger">
                    <div class="panel-heading">ta的基本信息</div>
                    <div class="panel-body">
                        <img class="small-headimage" src='/media/{{user.userextraprofile.headimage}}'><br>
                        <label class="page_username">用户名：{{ target.username }}</label><br>
                        <label>自我描述：{{ target.userextraprofile.description }}</label><br>
                        <label>邮箱：{{ target.email }}</label>
                    </div>
                </div>
            </div><!--个人资料-->
        </div>
    </div>
{% endblock %}